<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="include :: header('渠道资源管理')"/>
    <th:block th:include="include :: bootstrap-select-css"/>

</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="complex-form">
                <div class="select-list">
                    <ul>
                        <li>
                            <label style="width: 80px">车队编号：</label>
                            <input type="text" name="userId1"/>
                        </li>
                        <li>
                            <label style="width: 80px">产品类型：</label>
                            <select>
                                <option value="">支付宝</option>
                                <option value="">小额支付宝</option>
                                <option value="0">银行卡</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label style="width: 80px">时间：</label>
                            <input type="text" class="time-input" placeholder="开始时间"/>
                            <span>-</span>
                            <input type="text" class="time-input" placeholder="结束时间"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm m50" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('complex-form')"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>

    </div>

</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: jquery-cxselect-js"/>
<th:block th:include="include :: bootstrap-table-editable-js" />
<script th:inline="javascript">
    var prefix = ctx + "demo/table";
    var datas = [[${@dict.getType('re_order_status')}]];

    $(function () {
        var options = {
            url: prefix + "/list",
            showFooter: true,
            footerStyle: footerStyle,
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
            },
                {
                    field: 'userCode',
                    title: '资源编号'
                },
                {
                    field: 'userName',
                    title: '车队编号'
                },
                {
                    field: 'payType',
                    title: '产品类型',
                    formatter: function (value, row, index) {
                        return '支付宝'
                    }
                },
                {
                    field: 'account',
                    title: '收款详细',
                    formatter: function (value, row, index) {
                        return '户名：张三，账号：1212121212，类型：固定二维码'
                    }
                },
                {
                    field: 'status',
                    title: '资源状态',
                    align: 'center',
                    editable : {
                        type : 'select',
                        title : '状态',
                        source : [{
                            value : 0,
                            text : "正常"
                        }, {
                            value : 1,
                            text : "停用"
                        }]
                    }
                },
                {
                    field: 'account',
                    title: '入单规则',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '入单冷却时间：' + 50 + '秒</li>'
                        table += '<li>' + '入单限制回调时间：' + 500 + '秒</li>'
                        table += '<li>' + '入单当日限制笔数：' + 50 + '笔</li>'
                        table += '<li>' + '入单当日限制总金额：' + 1000000 + '元</li>'
                        table += '<li>' + '入单当日限制拉未回调拉单金额：' + 50000 + '元</li>'
                        table += '<li>' + '入单最高金额：' + 10000 + '元</li>'
                        table += '<li>' + '入单最低金额：' + 500 + '元</li>'
                        table += '</ul>'
                        return table;
                     }
                },
                {
                    field: 'account',
                    title: '接单数据',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '当日接单：' + 4892 + '元</li>'
                        table += '<li>' + '总接单：' + 23123 + '元</li>'
                        table += '<li>' + '当日笔数：' + 23 + '笔</li>'
                        table += '<li>' + '总笔数：' + 100 + '笔</li>'
                        table += '</ul>'
                        return table;
                     }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="#"><i  ></i>调整规则</a>');
                        actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)"  ><i ></i>删除</a>');
                        actions.push('<a class="btn btn-success btn-xs" href="#"onclick="info(\'' + row.info + '\')"><i ></i>资源修改日志</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function footerStyle(column) {
        return {
            userBalance: {
                css: {color: 'red', 'font-weight': 'normal'}
            }
        }[column.field]
    }

    function info(info) {
        let value = ' 2023-02-25 12:22:33 拉起订单；2023-02-25 12:22:33 等待支付；2023-02-25 12:22:33 订单成功；2023-02-25 12:22:33 订单补单；';
        if (value == null) {
            return "";
        }

        var valueWithBr = value.replace(/;/g, '<br>');
        layer.open({content: valueWithBr})
    }
    function onEditableSave (field, row, rowIndex, oldValue, $el) {
        alert("字段名：" + field + "，当前值：" + row[field]  + "，旧值：" + oldValue);
    }
</script>
</body>

</html>